@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Slab:wght@200&display=swap");

:root {
	--color-light: #fcfcfc;
	--color-dark: #2f2f2f;
	--side-width: 30%;
	--side-minWidth: 350px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto Slab", serif;
	color: var(--color-dark);
}

.screen {
	height: 100vh;
	background: var(--color-light);
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4 {
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
}

p + p {
	margin-top: 1rem;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
}

.logo-container {
	display: flex;
	width: 100%;
}

.logo {
	font-size: 3.5rem;
	line-height: 1.1;
	color: var(--color-light);
	user-select: none;
	cursor: pointer;
	padding: 0 1rem;
	width: 100%;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 500px;
	flex: 1 1 100%;
	padding: 0.5rem 1rem;
	font-size: 1.4rem;
	list-style: none;
	background: var(--color-light);
	position: relative;
}

a,
.nav-link {
	text-decoration: none;
	color: var(--color-dark);
	position: relative;
	user-select: none;
}

.more-button::after,
.post-link::after,
.nav-link::after {
	content: "";
	position: absolute;
	width: 0;
	bottom: -0.25rem;
	left: 0;
	right: 0;
	border-bottom: 1px solid var(--color-dark);
	transition: width 150ms ease-in-out;
}

.more-button:hover::after,
.more-button:focus::after,
.post-link:hover::after,
.post-link:focus::after, 
.nav-link:hover::after,
.nav-link:focus::after {
	width: 100%;
}

.link-button,
.more-button {
	font-size: 1.4rem;
	font-family: "Roboto Slab", serif;
	color: var(--color-dark);
	background: none;
	border: none;
	cursor: pointer;
}

.social-nav {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0.75rem;
}

.social-nav-link {
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem 0;
}
.social-nav-img {
	height: 30px;
	width: 30px;
	opacity: 0.5;
	transition: all 150ms ease-in-out;
}

.social-nav-img:hover,
.social-nav-img:focus {
	opacity: 1;
	transform: scale(1.2);
}

main {
	flex: 1 1 100%;

	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

section {
	display: flex;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	scroll-snap-align: start;
}

main::-webkit-scrollbar {
	display: none;
}

.container-left {
	width: 100%;
	display: flex;
}

.container-right {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 500px;
	flex: 1 1 100%;
	background-image: linear-gradient(
		180deg,
		var(--color-light) 10%,
		rgba(255, 255, 255, 0.7) 50%
	);
	border-left: 1px solid var(--color-light);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(16px);
}

/* HOME PAGE */

.hero-image-link {
	width: 100%;
	height: 100%;
	background-image: linear-gradient(
		0deg,
		rgb(0 0 0 / .8)0%,
		rgb(0 0 0 / 0)35% 65%,
		rgb(0 0 0 / .8)100%
	);
}

.hero-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none;
}

.post-description {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	padding: .5rem 1rem;
	font-size: 1.2rem;
}

.post-date {
	font-size: 1rem;
}
.post-link {
	width: fit-content;
	align-self: flex-end;
	z-index: 2;
	user-select: none;
}

.post-excerpt {
	margin: 1rem 0;
}

.text-container {
	position: relative;
	align-self: flex-end;
	user-select: none;
}

.hero-title {
	text-align: right;
	font-size: 8.75rem;
	line-height: 1;
	white-space: nowrap;
}

.hero-post-number {
	font-size: 1.3em;
}

.before {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fcfcfc;
	overflow: hidden;
}

/* JOURNAL LIST */

.journal-container {
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - 100%);
	z-index: -1;
	background: rgb(0 0 0 / 0.7);
	backdrop-filter: blur(16px);

	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;

	display: none;
}

.journal-container::-webkit-scrollbar {
	display: none;
  }

.show {
	display: block;
}

.post-preview * {
	color: var(--color-light)
}

.post-preview {
	padding: 1rem;
}

.post-preview > .post-link::after {
	border-bottom: 1px solid var(--color-light);
}


.post-preview-title {
	display: inline-block;
	width: 50%;
}

.post-number {
	font-size: 1.3em;
}

.post-more {
	display: inline-block;
	text-align: right;
	font-size: 1.2rem;
	width: 50%;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--color-light);
	user-select: none;
}

/* PAGES */
.page-section {
	scroll-snap-align: none;
	overflow: hidden;
}

.page-left {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: var(--color-light);
	font-size: 1.2rem;
	background-color: var(--color-dark);
	position: relative;
}

.content-block {
	max-width: 55ch;
	max-height: calc(100vh - 3.8rem);
	margin-top: 3.8rem;

	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.content-block::-webkit-scrollbar {
	display: none;
}

.content-block h2 {
	margin-bottom: 1rem;
}

.content-block h3 {
	margin: 1rem 0;
}

.content-block a {
	color: var(--color-light);
	font-weight: bold;
	text-decoration: underline;
}

.content-block p {
	text-align: justify;
}

.content-block p:last-child {
	text-align: right;
	font-size: 1.3em;
}

.page-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 3.8rem;
	min-height: calc(100vh - 3.8rem);
	border: none;
	max-height: calc(100vh - 3.8rem);
}

.profile-block {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

.profile-pic {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgb(0 0 0 / .2);
}

.bio {
	padding: 1rem;
	overflow: scroll;
}

.bio h2 {
	margin-bottom: 1rem;
}

.fixed-container {
	overflow: hidden;
}

.minimized {
	display: -webkit-box;
	-webkit-line-clamp: 10;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.more-button {
	margin-top: 1rem;
}

.page-title {
	position: absolute;
	bottom: 0;
	right: 1rem;
	line-height: 1;
	font-size: 10vw;
	opacity: .05;
}

@media only screen and (max-width: 1024px) {
	.social-nav {
		display: none;
	}

	nav {
		height: auto;
		position: static;
		flex-wrap: wrap;
		box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.5);
	}

	.logo-link {
		margin: 0 auto;
	}

	.logo {
		color: var(--color-dark);
	}

	.nav-links {
		margin: 0 auto;
	}

	section {
		flex-wrap: wrap;
	}

	.container-left {
		flex: 1 2 auto;
	}

	.hero-image {
		display: block;
	}

	.container-right {
		flex: 0 1 auto;
		max-width: 100%;
		background: var(--color-light);
		backdrop-filter: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
	}

	.post-description {
		margin: 0;
	}

	.post-excerpt {
		display: -webkit-box;
		-webkit-line-clamp: 5;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}

	.text-container {
		width: 100vw;
		display: flex;
		justify-content: center;
		position: absolute;
		top: -12.7vw;
		background-image: linear-gradient(
			0deg,
			rgb(0 0 0 /.7),
			rgb(0 0 0 / 0)
		)
	}

	.hero-title {
		color: var(--color-light);
		font-size: 10vw;
	}

	.before {
		display: none;
	}

	.page-section {
		overflow: visible;
	}

	.page-right {
		margin-top: 0;
		max-height: none;
		/* flex-direction: column; */
	}

	.content-block {
		max-height: none;
		margin: 0;
		padding: 1rem 1rem;
		max-height: none;
	}

	.page-title {
		font-size: 25vw;
	}

	.info {
		flex: 1 2 0;
	}
}
